/**
 * PhalconEye
 *
 * LICENSE
 *
 * This source file is subject to the new BSD license that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to phalconeye@gmail.com so we can send you a copy immediately.
 *
 */

@contentMaxWidth: 1200px;
@contentMinHeight: 115px;

@contentSectionWidth: 50%;
@contentAsideWidth: 25%;
@contentColumnGutter: 10px;

@viewportTablet: 480px;
@viewportDesktop: 1200px;

@font: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
@fontColor: #fff;
@fontSize: 14px;
@fontSizeHeader: 16px;

@linkColor: #428BCA;
@linkHoverColor: #CA5552;
@linkActiveColor: #3067b6;

@buttonHeight: 30px;
@buttonColor: #FFF;
@buttonBgColor: #428BCA;
@buttonBgHoverColor: #CA5552;
@buttonBgActiveColor: #3067b6;

@buttonNavHeight: 25px;
@buttonNavColor: #B8B8B8;
@buttonNavBgColor: #404040;
@buttonNavBorderColor: #6A6A6A;

@containerBgColor: #FFF;
@containerBorderColor: #DDD;
@formDescriptionColor: #969696;
@formLabelColor: #428BCA;
