/**
 * PhalconEye
 *
 * LICENSE
 *
 * This source file is subject to the new BSD license that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to phalconeye@gmail.com so we can send you a copy immediately.
 *
 */


#header a {
  font-size: 1.1em;
}

.header_logo {
  float: left;
  margin: 5px 15px
}

.header_logo img {
  height: 37px;
}

.header_logo a {
  color: #fff;
}

.header_widget {
  // padding-bottom: 10px;
}

.header_auth {
  float: right;
  color: #fff;
  margin: 5px;
}

.header_auth a {
  background-color: #428BCA;
  border-right: 1px solid rgba(255, 255, 255, 0.03);
  border-left: 1px solid rgba(255, 255, 255, 0.03);
  border-bottom: 1px inset #4b4b4b;
  color: #fff;
  display: inline-block;
  line-height: 30px;
  padding: 5px 20px;
  &:hover {
    border-bottom: 1px solid #428bca;
  }
}
